<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net461" />
  <package id="Lierda.WPFHelper" version="1.0.3" targetFramework="net461" />
  <package id="LightningChartUltimateWPF8" version="8.3.2.1" targetFramework="net461" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net461" />
</packages>